<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trippy: Your planning partner</title>
  </head>

  <body>
    <header>
      <h1>Trippy</h1>
    </header>

    <form id="addTrip">
      <input id="where" type="text" placeholder="Where to?" />
      <input id="date" type="text" placeholder="DD/MM/YYYY" />
      <input id="add" type="submit" value="Add trip" />
    </form>
    <div class="remove-trips">
      <button id="removeTrips">Remove all</button>
    </div>
    
    
    <main>

    </main>

    <footer>
      <p>
        Designed and built by
        <a href="https://www.github.com/nosthrillz">NoSthrillZ</a>.
      </p>
    </footer>
  </body>
</html>
