@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "variables";
@import "mixins";

body {
    min-height: calc(100vh + 100px);
    padding: 0;
    margin: 0;
    font-family: 'Open sans', sans-serif;
    line-height: normal;
    color: $secondary-dark;
    background: $bkg;
}

main {
    @include centerFlex;
    flex-direction: column;
    background: $bkg;
    justify-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    .no-trips {
        margin: 50px 0;
        font-style: italic;
    }
}

a {
    color: $secondary-light;
}

#addTrip {
    @include centerFlex;
    margin: 30px 0;

    input {
        @include inputs;
    }

    #add {
        @include submitBtn;
        width: 100px;

    }
    
    @media screen and (max-width: 601px) {
        flex-direction: column;
    }
}

.remove-trips {
    width: 100%;
    @include centerFlex;
    display: none;

    #removeTrips {
        border-radius: 8px;
        cursor: pointer;
        background: none;
        border: 1px solid $accent-red;
        color: $accent-red;

        &:hover {
            border: 1px solid $accent-red;
            background: $accent-red;
            color: $main-lightest;
        }

        @media screen and (min-width: 601px) {
            font-size: 1.2em;
            height: 40px;
        }
    }
}