@import "variables";
@import "mixins";

header {
    @include centerFlex;
    flex-direction: column;
    background: $main-light;
    padding: 20px;

    h1 {
        font-size: 2em;
        font-weight: bold;
        color: $secondary-mid;
        @media screen and (min-width: 601px) {
            font-size: 3em;
        }
    }

}
