@import "variables";
@import "mixins";

/* Media queries 
@media screen and (min-width: 320px) and (max-width: 539px)

@media screen and (min-width: 540px) and (max-width: 899px)

@media screen and (min-width: 900px)
*/

.subtitle {
    font-size: 1.5em;
    text-align: center;
    color: $secondary-dark;
    @media screen and (min-width: 601px) {
        font-size: 2em;
    }
}

section {
    * {
        margin: 5px;
        @media screen and (min-width: 601px) {
            margin: 10px;
        }
    }
    & > div {
        width: 100%;
    }

    * > input[type=text] {
        min-height: 30px;
        @media screen and (min-width: 601px) {
            min-height: 40px;
        }
    }

    width: 80%;
    max-width: 800px;

    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    /*box-shadow: $main-light 0 0 10px 10px;*/
    background: $main-light;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;


    .hero-container {
        width: 100%;
        

        .hero-img {
            margin: 0;
            height: auto;
            width: 100%;
            max-width: 100%;
        }
    }

    .trip-head-container {
        background: $main-lightest;
        @include centerFlex;
        flex-direction: column;
        h1 {
            font-size: 2em;
            font-weight: bold;
            @media screen and (min-width: 601px) {
                font-size: 2.5em;
            }
        }
        h2 {
            font-size: 1em;
            @media screen and (min-width: 601px) {
                font-size: 1.5em;
            }
        }
        h3 {
            font-size: 0.9em;
            margin-top: 10px;
            font-style: italic;
            @media screen and (min-width: 601px) {
                font-size: 1.3em;
            }
        }
    }

    .weather-container {
        background: $main-lightest;
        @include centerFlex;
        flex-direction: column;

        .weather-img {
            width: 30%;
            max-width: 100px;
        }

        .weather-status {
            font-style: italic;
            text-align: center;
            font-size: 0.9em;
            @media screen and (min-width: 601px) {
                font-size: 1.5em;
            }
        }

        .weather-temp-container {
            @include centerFlex;
            width: 80%;

            .weather-temp {
                font-size: 1.3em;
                font-weight: bold;
                color: $accent-red;
                @media screen and (min-width: 601px) {
                    font-size: 1.5em;
                }
            }

            .weather-temp-high {
                @include centerFlex;
                width: 50%;
                justify-content: flex-end;
                margin-right: 10px;
                @media screen and (min-width: 601px) {
                    font-size: 1.3em;
                }
            }

            .weather-temp-low {
                @include centerFlex;
                width: 50%;
                justify-content: flex-start;
                margin-left: 10px;
                @media screen and (min-width: 601px) {
                    font-size: 1.3em;
                }
                .weather-temp {
                    color: $secondary-mid;
                }
            }

            
        }
    } 
}

.flights-container {
    background: $main-lightest;
}

#flights {
    @include centerFlex;
    flex-direction: column;
}

.dep-flight-details, .arr-flight-details {
    * { margin: 0; padding: 0; }

    width: 100%;
    max-width: 500px;

    display: grid;
    grid-template-columns: 30px repeat(2, minmax(10px, 1fr)) 30px;
    grid-template-rows:
    [date]      30px
    [air]       30px
    [time]      30px;
    grid-template-areas:
    "dateL  dateL   dateR   dateR"
    "imgL   airL    airR    imgR"
    "imgL   timeL   timeR   imgR"
    ;
    grid-gap: 5px;

    input {
        @include inputs;
    }

    @media screen and (min-width: 601px) {
        grid-gap: 10px;
        grid-template-columns: 40px repeat(2, minmax(10px, 1fr)) 40px;
        grid-template-rows:
        [date]      40px
        [air]       40px
        [time]      40px;
    }
}

// departure flights
#dep-date-dep {
    grid-area: dateL;
}

#dep-img-dep {
    grid-area: imgL;
    @include flightImg;
}

#dep-air-dep { grid-area: airL; }

#dep-time-dep { grid-area: timeL; }

#dep-date-arr { grid-area: dateR; }

#dep-img-arr {
    grid-area: imgR;
    @include flightImg;
}

#dep-air-arr { grid-area: airR; }

#dep-time-arr { grid-area: timeR; }

// arrival flights
#arr-date-dep { grid-area: dateL; }

#arr-img-dep {
    grid-area: imgL;
    @include flightImg;
}

#arr-air-dep { grid-area: airL; }

#arr-time-dep { grid-area: timeL; }

#arr-date-arr { grid-area: dateR; }

#arr-img-arr {
    grid-area: imgR;
    @include flightImg;
}

#arr-air-arr { grid-area: airR; }

#arr-time-arr { grid-area: timeR; }

#saveFlight {
    @include submitBtn;
}


.restaurants-container, .hotels-container {
    background: $main-lightest;
    @include centerFlex;
    flex-direction: column;

    input {
        @include inputs;
    }
}

#restaurants, #hotels {
    @include centerFlex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;

    * {
        width: 95%;
    }

    @media screen and (min-width: 601px) {
        flex-direction: row;
    }
}

#saveRestaurant, #saveHotel {
    @include submitBtn;
}

#restaurants-list, #hotels-list {
    background: $main-light;
    @include centerFlex;
    flex-direction: column;
    width: 95%;
    max-width: 500px;

    li {
        width: 100%;

        p:nth-child(1) {
            font-size: 0.9em;
            @media screen and (min-width: 601px) {
                font-size: 1.3em;
            }

        }
        p:nth-child(2) {
            font-size: 0.8em;
            @media screen and (min-width: 601px) {
                font-size: 1.2em;
            }
        }
    }
}

.no-items {
    text-align: center;
    font-style: italic;
    color: $secondary-light;
    font-size: 0.8em;
    @media screen and (min-width: 601px) {
        font-size: 1em;
    }
}