
$bkg:        #f6ebf0;

$main-dark:  #d873a2;
$main-mid:   #ee9bc2;
$main-light: #eed9e3;
$main-lightest:#f5e9ef;

$secondary-dark:  #19387f;
$secondary-mid:   #2D4E9B;
$secondary-light: #99a4bc;

$accent-yellow: #FDCF57; 
$accent-red:  #C22971;
$accent-green: #0DBF63;