/* Text */
$text-light: #F6D8AE;
$text-accent: #F3CA91;

/* Blues */
$bkg-light: #D9EAFC;
$bkg-mid: #0D63BF;
$bkg-dark: #083D77;
$bkg-darkest: #041E39;

/* Highlights*/ 
$accent1: #DA4167;
$accent2: #E788A0;
$accent3: #BAC095;

$confirm: #0DBF63;